<h1>Author Details</h1>
<p>username: {{author.username}}</p>
<p>picture : <img src="{{asset(author.picture)}}" alt="pic" style="height: 100; width: 100;"></p>
<p>email :{{author.email}}</p>
<p>Nombre book :{{author.nb_books}}</p>